{% extends 'base.html.twig' %}

{% block title %}Accueil -Application de gestion des permissions militaires {% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenue sur gestion des permissions </h1>
    <p class="lead">Application de gestion des permissions militaires</p>
    
    <div class="mt-4">
        <a href="/login" class="btn btn-primary btn-lg">Se connecter</a>
    </div>
</div>
{% endblock %}
